body {
  margin: 0;
  padding: 0;
  background: #333;
  font-family: 'DejaVu Sans Condensed', 'Arial';
  font-size: 13px;
  line-height: 1.5;
}

ul {
  list-style: none;
}

ul li {
  display: inline;
}

a {
  /*color: #a6a6a6;*/
  color: #fff;
  text-decoration: none;
  -webkit-transition: All 1s ease;
}

header {
  background: #222;
  height: 70px;
  width: 100%;
  border-bottom: #464647 1px solid;
  margin-top: 10px;
}

.container {
  width: 970px;
  margin: 0 auto;
  margin-top: 50px;
}

header nav {
  margin: 0 auto;
  width: 1000px;
  padding-top: 5px;
}

header nav ul {
  text-align: center;
}

header nav li {
  margin-right: 80px;
  line-height: 40px;
}

header nav li a {
  font-size: 17px;
  padding: 15px;
}

header nav li a:hover{
  background: rgba(20, 20, 20, 0.8);
  box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
  border-radius: 6px;
}

#Logo {
    position: fixed;
    left: 16px;
    bottom: 80px;
}


/*时钟*/
.date {
  float: left;
}
.date .year {
  margin-bottom: 30px;
}


/*文字*/
.banner {
  float: right;
  color: #fff;
  text-shadow: 0 0 16px #fff;
}


/*鼠标移动效果*/
.mousemove {
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
}