body {
	background-attachment: fixed;
	background-color: #6ca2e0;
	background-image: url(/images/bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	
    -webkit-background-size: cover;
    -moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    
	font-family: 'DejaVu Sans Condensed', 'Arial';
	font-size: 13px;
}

div#Logo {
    position: fixed;
    left: 16px;
    bottom: 80px;
}

div#Banner {
	position: absolute;
	left: 38%;
    top: 128px;
	width: 56%;
    padding: 32px;
    
    text-align: right;
    font-size: 16px;
    color: #fff;
    text-shadow: 0 0 16px #fff;
}

div#Banner div#Signature {
    text-align: center;
}

div#Middle {
	position: absolute;
	left: 38%;
    top: 384px;
	width: 28%;
    padding-right: 32px;
}

div#Right {
	position: absolute;
	left: 66%;
    top: 384px;
	width: 28%;
    padding-left: 32px;
}






div.Category {
	position: relative;
	padding: 16px;
	margin-bottom: 16px;
    
	background-color: #3e7ac2;
	border-radius: 8px;
	box-shadow: 0 0 16px 0 #fff;
	opacity: 0.95;
	color: #fff;
}

div.Category h1.hTitle1 {
	position: relative;
	top: -8px;
	
	font-size: 16px;
	font-weight: bold;
}

div.Category h1.hTitle2 {
	position: relative;
	top: -8px;
	
	font-size: 13px;
	font-weight: bold;
}


div.Category aside.asideScrap {
	position: absolute;
	left: 55%;
	width: 40%;
	
	text-align: right;
	font-size: 12px;
	font-weight: bold;
}

div.Category section.sectionScrap {
	position: relative;
	left: 0;
	width: 100%;
	
	font-style: italic;
}

