body {
  margin: 0;
  padding: 0;
  background: #333;
  font-family: 'DejaVu Sans Condensed', 'Arial';
  font-size: 13px;
}

ul {
  list-style: none;
}

ul li {
  display: inline;
}

header {
  background: #222;
  height: 70px;
  width: 100%;
  border-bottom: #464647 1px solid;
  margin-top: 10px;
}

header nav {
  margin: 0 auto;
  width: 1000px;
  padding-top: 5px;
}

header nav li {
  margin-right: 30px;
  line-height: 40px;
}

header nav li a{
  padding: 15px;
}

header nav li a:hover{
  background: rgba(20, 20, 20, 0.8);
  box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
  border-radius: 6px;
}

.container {

}

div#Logo {
    position: fixed;
    left: 16px;
    bottom: 80px;
}

/* 时钟 */
div#Clock {
  width: 400px;
  height: 190px;

  position: absolute;
  left: 43%;
  top: 120px;
}

div#Clock div.year {
  margin-left: 20px;
}

div#Clock div.time {
  margin-left: 20px;
  margin-top: 35px;
}

.date img { 
  position: relative; 
  width: 10px; 
}

.week { 
  margin-left: 5px; 
  width: 20px !important;
}
.num2 { width: 38px; }

/* 标签云 */
div#Tag {
  width: 350px;
  height: 350px;
  margin: 20px auto 0;

  position: absolute;
  left: 43%;
  top: 360px;
}

div#Tag a {
  font-family: Microsoft YaHei;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 6px;
}
div#Tag a:hover {
  border: 1px solid #eee;
  background: #000;
}

div#Tag .blue {
  color: blue;
}
div#Tag .red {
  color: red;
}
div#Tag .yellow {
  color: yellow;
}

/* 导航 */
div#Banner {
  position: absolute;
  left: 38%;
    top: 100px;
  width: 56%;
    padding: 32px;

    text-align: right;
    font-size: 16px;
    color: #fff;
    text-shadow: 0 0 16px #fff;
}

div#Banner div#Signature {
    text-align: center;
}

div#Left {
  position: absolute;
  right: 57%;
    top: 110px;
  width: 28%;
    padding-right: 32px;
}

div#Right {
  position: absolute;
  left: 69%;
    top: 384px;
  width: 28%;
    padding-left: 32px;
}


div.Category {
  position: relative;
  padding: 16px;
  margin-bottom: 16px;

  background-color: #3d3c3c;
  border-radius: 8px;
  box-shadow: 0 0 13px 0 #fff;
  opacity: 0.85;
  color: #6ecefd;
}

div.Category h1.hTitle1 {
  position: relative;
  top: -8px;

  font-size: 16px;
  font-weight: bold;
}

div.Category div.ExtLinks {
  position: absolute;
  right: 16px;
    top: 16px;
  width: 50%;

  text-align: right;
}


div.Category div.Index {
  position: relative;
  margin-bottom: 4px;

  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

div.Category div.Index:hover {
    border-radius: 4px;
  box-shadow: 0 0 0 2px #fb7d0e;

  font-size: 14px;
  color: #fb7d0e;
}

div.Category div.IndexTitle {
  left: 0;
  width: 100%;
}

div.Category div.IndexDate {
  position: relative;
  left: 70%;
    top: 0;
  width: 30%;

  text-align: right;
}

a {
  text-decoration: none;
  color: #fff;
}

/*鼠标移动效果*/
div.mousemove {
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
}