---
layout: main
description: Free's personal blog
title: Summer's Mariner
---
<div id="Logo">
    <img src="/images/logo.png" alt="free" height="48px" />
</div>

<div id="Banner">
    ☆﻿ blog by free<br />
    <span style="font-size: 48px">
        「Welcome」
    </span><br />
    <span style="font-size: 32px">
        最终幻想
    </span><br />
       ファイナルファンタジー     　<br />
    <br /><br />
    <div id="Signature">
        {% include Signature.html %}
    </div>
</div>

<div id="Middle">

    <div class="Category">
        <h1 class="hTitle1">博客</h1>
        <hr />
        {% include Posts_zh.html %}
    </div>
    
    <div class="Category">
        <h1 class="hTitle1">Posts</h1>
        <hr />
        {% include Posts_en.html %}
    </div>
    
    <div class="Category">
        <h1 class="hTitle2">Contact me</h1>
        <hr />
        {% include ContactMe.html %}
    </div>
    
</div>

<div id="Right">

    <div class="Category">
        <h1 class="hTitle1">Projects</h1>
        <hr />
        {% include Projects.html %}
    </div>
    
    <div class="Category">
        <h1 class="hTitle1">Photos</h1>
        <hr />
        {% include Photos.html %}
    </div>
    
    <div class="Category">
        <h1 class="hTitle1">Designs</h1>
        <hr />
        {% include Designs.html %}
    </div>
    
    <div class="Category" style="visibility:hidden">
        <h1 class="hTitle2">About me</h1>
        <hr />
        include AboutMe.html
    </div>
    
    <div class="Category" style="visibility:hidden">
        <h1 class="hTitle2">Links</h1>
        <hr />
        include Links.html
    </div>
    
</div>
