---
layout: main
description: Free's personal blog
title: Summer's Mariner
---
<div id="main">
<!-- 顶部 -->
<div id="top">
    <!-- 左 -->
    <div id="logo">
        LOGO
    </div>

    <!-- 右 -->
    <div id="divBanner">
        ☆﻿ blog by free<br />
        <span style="font-size: 48px">
            「Welcome」
        </span><br />
        <span style="font-size: 32px">
            夏の航海士
        </span><br />
            V   o  y  a  g  e     <br />
        <br /><br />
        <div id="divSignature">
            {% include Signature.html %}
        </div>
    </div>
</div>

<!-- 中部 -->
<div id="middle">
        <!-- 导航 -->
    <div id="nav">
        <ul>
            <li>博客</li>
            <li>吐槽</li>
            <li>照片</li>
            <li>关于我</li>
            <li>联系我</li>
        </ul>
    </div>
</div>

<!-- 底部 -->
<div id="bottom">
    
</div>
</div>
<div id="divnavigation">
    <h2>{{ page.title }}</h2>
    <p>最新文章</p>
    <ul>
        {% for post in site.posts %}
        <li>{{ post.date | date_to_string }}
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>