<!-- 左导航文章 -->
<div id="Left">

    <div class="Category">
        <h1 class="hTitle1">Blog</h1>
        <hr />
        {% include Posts.html %}
    </div>

    <div class="Category">
        <h1 class="hTitle1">Rails</h1>
        <hr />
        {% include Rails.html %}
    </div>

    <div class="Category">
        <h1 class="hTitle1">Note</h1>
        <hr />
        {% include Notes.html %}
    </div>

    <div class="Category">
        <h1 class="hTitle1">Contact me</h1>
          <div class="ExtLinks">
            <a href="#" target="_blank"><img src="/images/twitter.png" alt="twitter" title="Twitter" class="navDock" height="24" /></a>
            <a href="#" target="_blank"><img src="/images/facebook.png" alt="facebook" title="Facebook" class="navDock" height="24" /></a>
            <a href="#" target="_blank"><img src="/images/github.png" alt="github" title="GitHub" class="navDock" height="24" /></a>
            <a href="#" target="_blank"><img src="/images/linkedin.png" alt="linkedin" title="Linkedin" class="navDock" height="24" /></a>
        </div>
        <hr />
        {% include ContactMe.html %}
    </div>

</div>

<!-- 右导航文章 -->
<div id="Right">

    <div class="Category">
        <h1 class="hTitle1">Ruby</h1>
        <hr />
        {% include Ruby.html %}
    </div>

    <div class="Category">
        <h1 class="hTitle1">Designs</h1>
        <hr />
        {% include Designs.html %}
    </div>

    <div class="Category">
        <h1 class="hTitle1">On display</h1>
        <hr />
        {% include Display.html %}
    </div>

</div>
